modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "web-unit-tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "api-server-tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "web-typecheck"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "typecheck-tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "api-server-lint"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "web-lint"

[[workflows.workflow]]
name = "web-unit-tests"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/web test"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "api-server-tests"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server test"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "web-typecheck"
author = "agent"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-client-react exec tsc -p tsconfig.json && pnpm --filter @workspace/web typecheck"

[[workflows.workflow]]
name = "typecheck-tests"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/web run typecheck:test"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "api-server-lint"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server lint"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "web-lint"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/web lint"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SUPER_ADMIN_GUEST_TOKEN = "stiq-guest-2026"
VITE_GUEST_TOKEN = "stiq-guest-2026"
